alphabet_detector
bs4
bleach
cachetools
covid
demjson
dnspython
emoji
feedparser
future
git+https://github.com/TomyPrs/python-markdown2.git
google_trans_new
gtts
lxml
Pillow>=4.2.0
psutil
psycopg2-binary
pymongo[srv]
python-telegram-bot==13.1
pytz
python-dotenv
pynewtonmath
requests
spamwatch
speedtest-cli>=2.0.2
sqlalchemy
telegraph
wget
wikipedia
hurry
hurry.filesize
jikanpy>=4.2.2
telethon==1.16.4
pyrogram
uptime
datetime
pythonping
py-cpuinfo
animu-cf
gtts
aiohttp
nekos.py
fontTools
coffeehouse
youtube_dl
hachoir
pybase64
pySmartDL
validators
pytz
